<ion-header>
  <ion-toolbar>
    <ion-title>
      <h3>Felipe Barragán Nuñez</h3>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="text">
    <h4>Names Jackpot</h4>
  </div>

  <div class="text_area">
    <ion-item>
      <ion-textarea class="textbox" placeholder="Write the names and separate by"[(ngModel)]="name">
      </ion-textarea>
    </ion-item>
  </div>

  <div class="play-button">
    <ion-item>
      <ion-button class="button" zise="large"color="GREEN" (click)="addNames()">Play</ion-button>
    </ion-item>
  </div>

  <div class="ion-text-center">
    <ion-label >{{actName}}</ion-label>
  </div>
</ion-content>
